.side-bar{
    width: 25vw;
}

.side-bar .price-filter{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr;
}

.side-bar ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.side-bar .price-filter .item-3{
    grid-column-start: 1;
    grid-column-end: 3;
}

.side-bar input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.side-bar .price-input{
    border: none;
    width: 90%;
}

.side-bar .side-bar-button{
    height: 6vh;
    border: none;
    background-color: white;
    /* grid-column-start: 1;
    grid-column-end: 3 */
    /* grid-area: 1 / 1 / 2 / 3;/- */
}

.side-bar .close-btn{
    display: none;
}

.side-bar .side-bar-button-div{
    display: grid;
    grid-template-columns: 9fr 1fr;
    grid-template-rows: 1fr;
    align-content: center; /* Center entire grid content vertically */
    justify-content: center; 
}

.side-bar .arrow-icon{
    grid-area: 1 / 2 / 2/ 2;
    align-content: center; /* Center entire grid content vertically */
    justify-content: center; 
}

/* In your SideBar.css file */

.arrow-icon {
    transition: transform 0.3s ease; /* Smooth transition */
}
  
  .rotated {
    transform: rotate(180deg); /* Rotate the arrow upside down */
  }


  @media screen and (max-width: 768px) {
    .side-bar{
        /* box-sizing: border-box;
        min-width: 99vw !important;
        max-width: 100vw !important;
        position: fixed;
        z-index: 999;
        height: 100%;
        top: 18vh;
        left: 0;
        background-color: white; */
        /* position: fixed;
        top: 0;
        left: 0;
        width: 100vw; 
        height: 100vh;
        z-index: 1000;
        background-color: white; 
        overflow-y: auto;  */
        position: absolute; /* Sidebar is positioned relative to its nearest positioned ancestor */
        top: 17vh; /* Adjust the top value to match the height of your navbar */
        left: 0;
        width: 100vw; /* Full screen width */
        height: calc(100vh - 17vh); /* Full height minus the navbar height */
        z-index: 1000; /* High z-index to stay on top of other content */
        background-color: white; /* Background color to cover underlying content */
        overflow-y: auto; /* Allows scrolling within the sidebar */
    }

    body.modal-open {
        overflow: hidden;
    }

    .side-bar .close-btn{
        display: flex;
    }
  }
  
