.men-menu{
    height: 35vh;
    /* width: 100vw; */
    grid-column-start: 1;
    grid-column-end: 5;
}

.men-menu ul{
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

.men-menu >  div{
    width: 20%;
    padding: 6px;
}

.men-menu .div-1 li{
    font-size: 1.2rem;
}

.men-menu .div-2 ul{
    padding-left: 10px;
}

.men-menu .div-2 link{
    font-size: 0.1rem;
}